.movieList {
    display: grid;
    max-width: calc(100vw - 54px);
    grid-gap: 5px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
  }
  
  .listImg {
    margin-bottom: 20px;
    height: 85%;
  }
  
  .movieListTitle {
    color: blue;
    text-shadow: 1px 1px 1px #43456d;
  }